<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exit</title>
    <style> /* Le añado los estilos directamente en el template */
        body{background-color: pink; color: black; text-align: center; padding-top: 30vh;}
        h1 {font-size:xx-large; font-weight: bold;};
    </style>
</head>
<body>
    <h1>Gracias por utilizar nustros servicio.</h1>
    <br>
    <h2>Hasta la próxima</h2>
    <img src="/assets/images/bob.png" alt="BobEsponja" title="BobEsponja">
</body>
</html>
