@font-face {
    font-family: "Agbalumo";
    src: url("/assets/fonts/Agbalumo-Regular.ttf") format("truetype");
} /* Importo la fuente de Google Fonts de manera local */

body{
    background-color: white;
    font-family: Agbalumo; /* Aplico ahora la fuente importada */
    padding: 6em;
    /* le añado fondo gradiante */
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(55,153,102,1) 49%, rgba(0,212,255,1) 100%);
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    background-color: aquamarine;
    width: 50dvh;
    margin: 0 auto; /* Centra todo el div sin tener que hacer nada en el body */
    border-radius: 6px;
    box-shadow: 5px 5px 30px black;
}
.container button {
    background-color: rgb(24, 187, 54);
    color: white;
    border-radius: 6px;
    padding: 2px;
    font-size: large;
    margin: 2px;
    box-shadow: 2px 2px black;
    :hover {
        cursor: pointer;
    }; /* Combierte el cursor cuando se pasa por encima */
}